<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
		
-->


<html>
	<head>
		<title>Generic - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo"><strong>Where is my Bus? </strong> by Roi Rimer & Moshe Abadi</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="live_menu">Live Menu</a>
						<a href="analyze">Analyze</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Analyze Past Data</h2>
					</header >

					<header><h2>Select Date and Line Id</h2></header>

<form action="{{ url_for('handle_data') }}" method="post">

	<div class="2u$ 12u$(xsmall)">
	<label for="lineid">Select Line Id:</label>

	<select name="lineid" id="lineid">
	<option value="0001">0001</option>
	<option value="0004">0004</option>
	<option value="0007">0007</option>
	<option value="0009">0009</option>
	<option value="0011">0011</option>
	<option value="0013">0013</option>
	<option value="0014">0014</option>
	<option value="0015">0015</option>
	<option value="0016">0016</option>
	<option value="0017">0017</option>
	<option value="0018">0018</option>
	<option value="0025">0025</option>
	<option value="0026">0026</option>
	<option value="0027">0027</option>
	<option value="0031">0031</option>
	<option value="0032">0032</option>
	<option value="0033">0033</option>
	<option value="0037">0037</option>
	<option value="0038">0038</option>
	<option value="0039">0039</option>
	<option value="0040">0040</option>
	<option value="0041">0041</option>
	<option value="0042">0042</option>
	<option value="0043">0043</option>
	<option value="0044">0044</option>
	<option value="0047">0047</option>
	<option value="0049">0049</option>
	<option value="0053">0053</option>
	<option value="0059">0059</option>
	<option value="0061">0061</option>
	<option value="0063">0063</option>
	<option value="0065">0065</option>
	<option value="0066">0066</option>
	<option value="0067">0067</option>
	<option value="0068">0068</option>
	<option value="0069">0069</option>
	<option value="0070">0070</option>
	<option value="0075">0075</option>
	<option value="0076">0076</option>
	<option value="0079">0079</option>
	<option value="007A">007A</option>
	<option value="007B">007B</option>
	<option value="007D">007D</option>
	<option value="0083">0083</option>
	<option value="0084">0084</option>
	<option value="0102">0102</option>
	<option value="0104">0104</option>
	<option value="0111">0111</option>
	<option value="0114">0114</option>
	<option value="0116">0116</option>
	<option value="0118">0118</option>
	<option value="0120">0120</option>
	<option value="0122">0122</option>
	<option value="0123">0123</option>
	<option value="0130">0130</option>
	<option value="0140">0140</option>
	<option value="0142">0142</option>
	<option value="0145">0145</option>
	<option value="014C">014C</option>
	<option value="0150">0150</option>
	<option value="0151">0151</option>
	<option value="015A">015A</option>
	<option value="015B">015B</option>
	<option value="015D">015D</option>
	<option value="0161">0161</option>
	<option value="016C">016C</option>
	<option value="017A">017A</option>
	<option value="0184">0184</option>
	<option value="0185">0185</option>
	<option value="0220">0220</option>
	<option value="0236">0236</option>
	<option value="0238">0238</option>
	<option value="0239">0239</option>
	<option value="025A">025A</option>
	<option value="025B">025B</option>
	<option value="025D">025D</option>
	<option value="025X">025X</option>
	<option value="0270">0270</option>
	<option value="027A">027A</option>
	<option value="027B">027B</option>
	<option value="027X">027X</option>
	<option value="029A">029A</option>
	<option value="031A">031A</option>
	<option value="031B">031B</option>
	<option value="031D">031D</option>
	<option value="032X">032X</option>
	<option value="033A">033A</option>
	<option value="033B">033B</option>
	<option value="033D">033D</option>
	<option value="033X">033X</option>
	<option value="038A">038A</option>
	<option value="038B">038B</option>
	<option value="038D">038D</option>
	<option value="039A">039A</option>
	<option value="039X">039X</option>
	<option value="040B">040B</option>
	<option value="040D">040D</option>
	<option value="041A">041A</option>
	<option value="041B">041B</option>
	<option value="041C">041C</option>
	<option value="041X">041X</option>
	<option value="042D">042D</option>
	<option value="044B">044B</option>
	<option value="045A">045A</option>
	<option value="046A">046A</option>
	<option value="046E">046E</option>
	<option value="051D">051D</option>
	<option value="051X">051X</option>
	<option value="054A">054A</option>
	<option value="056A">056A</option>
	<option value="065B">065B</option>
	<option value="066A">066A</option>
	<option value="066B">066B</option>
	<option value="066X">066X</option>
	<option value="067X">067X</option>
	<option value="068A">068A</option>
	<option value="068X">068X</option>
	<option value="069X">069X</option>
	<option value="070D">070D</option>
	<option value="0747">0747</option>
	<option value="0757">0757</option>
	<option value="076A">076A</option>
	<option value="077A">077A</option>
	<option value="077X">077X</option>
	<option value="079A">079A</option>
	<option value="083A">083A</option>
	<option value="084A">084A</option>
	<option value="084X">084X</option>
	</select>
	
	</div>
	<br>
	<div class="2u$ 12u$(xsmall)">

	<label for="ids">Select Direction:</label>

	<select name="direction" id="ids">
	<option value="0">0</option>
	<option value="1">1</option>
	</select>
	</div>
	<br>
	<div class="2u$ 12u$(xsmall)">

	<label for="ids">Select Vehicle Id:</label>

	<select name="vehicle" id="ids">
	<option value="28021">28021</option>
	<option value="28022">28022</option>
	<option value="28051">28051</option>
	<option value="28052">28052</option>
	<option value="33279">33279</option>
	<option value="33281">33281</option>
	<option value="33282">33282</option>
	<option value="33283">33283</option>
	<option value="33284">33284</option>
	<option value="33285">33285</option>
	<option value="33286">33286</option>
	<option value="33287">33287</option>
	<option value="33296">33296</option>
	<option value="33297">33297</option>
	<option value="33298">33298</option>
	<option value="33303">33303</option>
	<option value="33315">33315</option>
	<option value="33317">33317</option>
	<option value="33318">33318</option>
	<option value="33319">33319</option>
	<option value="33320">33320</option>
	<option value="33322">33322</option>
	<option value="33323">33323</option>
	<option value="33326">33326</option>
	<option value="33328">33328</option>
	<option value="33330">33330</option>
	<option value="33331">33331</option>
	<option value="33334">33334</option>
	<option value="33335">33335</option>
	<option value="33336">33336</option>
	<option value="33337">33337</option>
	<option value="33338">33338</option>
	<option value="33339">33339</option>
	<option value="33340">33340</option>
	<option value="33341">33341</option>
	<option value="33342">33342</option>
	<option value="33343">33343</option>
	<option value="33344">33344</option>
	<option value="33345">33345</option>
	<option value="33346">33346</option>
	<option value="33347">33347</option>
	<option value="33348">33348</option>
	<option value="33349">33349</option>
	<option value="33350">33350</option>
	<option value="33351">33351</option>
	<option value="33352">33352</option>
	<option value="33353">33353</option>
	<option value="33354">33354</option>
	<option value="33355">33355</option>
	<option value="33356">33356</option>
	<option value="33357">33357</option>
	<option value="33358">33358</option>
	<option value="33359">33359</option>
	<option value="33360">33360</option>
	<option value="33361">33361</option>
	<option value="33362">33362</option>
	<option value="33363">33363</option>
	<option value="33364">33364</option>
	<option value="33365">33365</option>
	<option value="33366">33366</option>
	<option value="33367">33367</option>
	<option value="33368">33368</option>
	<option value="33369">33369</option>
	<option value="33370">33370</option>
	<option value="33372">33372</option>
	<option value="33373">33373</option>
	<option value="33374">33374</option>
	<option value="33375">33375</option>
	<option value="33376">33376</option>
	<option value="33377">33377</option>
	<option value="33378">33378</option>
	<option value="33379">33379</option>
	<option value="33380">33380</option>
	<option value="33381">33381</option>
	<option value="33382">33382</option>
	<option value="33383">33383</option>
	<option value="33384">33384</option>
	<option value="33385">33385</option>
	<option value="33386">33386</option>
	<option value="33387">33387</option>
	<option value="33388">33388</option>
	<option value="33389">33389</option>
	<option value="33390">33390</option>
	<option value="33391">33391</option>
	<option value="33392">33392</option>
	<option value="33393">33393</option>
	<option value="33394">33394</option>
	<option value="33395">33395</option>
	<option value="33396">33396</option>
	<option value="33397">33397</option>
	<option value="33398">33398</option>
	<option value="33399">33399</option>
	<option value="33400">33400</option>
	<option value="33401">33401</option>
	<option value="33402">33402</option>
	<option value="33403">33403</option>
	<option value="33404">33404</option>
	<option value="33405">33405</option>
	<option value="33406">33406</option>
	<option value="33407">33407</option>
	<option value="33408">33408</option>
	<option value="33409">33409</option>
	<option value="33410">33410</option>
	<option value="33411">33411</option>
	<option value="33412">33412</option>
	<option value="33413">33413</option>
	<option value="33414">33414</option>
	<option value="33415">33415</option>
	<option value="33416">33416</option>
	<option value="33417">33417</option>
	<option value="33418">33418</option>
	<option value="33419">33419</option>
	<option value="33420">33420</option>
	<option value="33421">33421</option>
	<option value="33422">33422</option>
	<option value="33423">33423</option>
	<option value="33424">33424</option>
	<option value="33425">33425</option>
	<option value="33426">33426</option>
	<option value="33427">33427</option>
	<option value="33428">33428</option>
	<option value="33429">33429</option>
	<option value="33430">33430</option>
	<option value="33431">33431</option>
	<option value="33432">33432</option>
	<option value="33433">33433</option>
	<option value="33434">33434</option>
	<option value="33435">33435</option>
	<option value="33436">33436</option>
	<option value="33437">33437</option>
	<option value="33438">33438</option>
	<option value="33439">33439</option>
	<option value="33440">33440</option>
	<option value="33446">33446</option>
	<option value="33447">33447</option>
	<option value="33448">33448</option>
	<option value="33449">33449</option>
	<option value="33450">33450</option>
	<option value="33451">33451</option>
	<option value="33452">33452</option>
	<option value="33453">33453</option>
	<option value="33454">33454</option>
	<option value="33455">33455</option>
	<option value="33456">33456</option>
	<option value="33457">33457</option>
	<option value="33458">33458</option>
	<option value="33459">33459</option>
	<option value="33460">33460</option>
	<option value="33461">33461</option>
	<option value="33462">33462</option>
	<option value="33463">33463</option>
	<option value="33464">33464</option>
	<option value="33465">33465</option>
	<option value="33466">33466</option>
	<option value="33467">33467</option>
	<option value="33468">33468</option>
	<option value="33469">33469</option>
	<option value="33470">33470</option>
	<option value="33471">33471</option>
	<option value="33472">33472</option>
	<option value="33473">33473</option>
	<option value="33474">33474</option>
	<option value="33475">33475</option>
	<option value="33476">33476</option>
	<option value="33477">33477</option>
	<option value="33478">33478</option>
	<option value="33479">33479</option>
	<option value="33480">33480</option>
	<option value="33481">33481</option>
	<option value="33482">33482</option>
	<option value="33483">33483</option>
	<option value="33484">33484</option>
	<option value="33485">33485</option>
	<option value="33486">33486</option>
	<option value="33487">33487</option>
	<option value="33488">33488</option>
	<option value="33489">33489</option>
	<option value="33490">33490</option>
	<option value="33491">33491</option>
	<option value="33492">33492</option>
	<option value="33493">33493</option>
	<option value="33494">33494</option>
	<option value="33495">33495</option>
	<option value="33497">33497</option>
	<option value="33498">33498</option>
	<option value="33499">33499</option>
	<option value="33500">33500</option>
	<option value="33501">33501</option>
	<option value="33502">33502</option>
	<option value="33503">33503</option>
	<option value="33504">33504</option>
	<option value="33505">33505</option>
	<option value="33506">33506</option>
	<option value="33507">33507</option>
	<option value="33508">33508</option>
	<option value="33509">33509</option>
	<option value="33516">33516</option>
	<option value="33517">33517</option>
	<option value="33518">33518</option>
	<option value="33519">33519</option>
	<option value="33520">33520</option>
	<option value="33521">33521</option>
	<option value="33522">33522</option>
	<option value="33523">33523</option>
	<option value="33524">33524</option>
	<option value="33525">33525</option>
	<option value="33526">33526</option>
	<option value="33527">33527</option>
	<option value="33528">33528</option>
	<option value="33529">33529</option>
	<option value="33530">33530</option>
	<option value="33531">33531</option>
	<option value="33532">33532</option>
	<option value="33533">33533</option>
	<option value="33534">33534</option>
	<option value="33535">33535</option>
	<option value="33536">33536</option>
	<option value="33537">33537</option>
	<option value="33538">33538</option>
	<option value="33539">33539</option>
	<option value="33540">33540</option>
	<option value="33541">33541</option>
	<option value="33542">33542</option>
	<option value="33543">33543</option>
	<option value="33545">33545</option>
	<option value="33546">33546</option>
	<option value="33547">33547</option>
	<option value="33548">33548</option>
	<option value="33549">33549</option>
	<option value="33550">33550</option>
	<option value="33551">33551</option>
	<option value="33552">33552</option>
	<option value="33553">33553</option>
	<option value="33554">33554</option>
	<option value="33555">33555</option>
	<option value="33556">33556</option>
	<option value="33557">33557</option>
	<option value="33558">33558</option>
	<option value="33559">33559</option>
	<option value="33560">33560</option>
	<option value="33561">33561</option>
	<option value="33562">33562</option>
	<option value="33563">33563</option>
	<option value="33564">33564</option>
	<option value="33565">33565</option>
	<option value="33566">33566</option>
	<option value="33567">33567</option>
	<option value="33568">33568</option>
	<option value="33569">33569</option>
	<option value="33570">33570</option>
	<option value="33571">33571</option>
	<option value="33572">33572</option>
	<option value="33573">33573</option>
	<option value="33574">33574</option>
	<option value="33575">33575</option>
	<option value="33576">33576</option>
	<option value="33577">33577</option>
	<option value="33578">33578</option>
	<option value="33579">33579</option>
	<option value="33580">33580</option>
	<option value="33581">33581</option>
	<option value="33582">33582</option>
	<option value="33583">33583</option>
	<option value="33584">33584</option>
	<option value="33585">33585</option>
	<option value="33586">33586</option>
	<option value="33587">33587</option>
	<option value="33588">33588</option>
	<option value="33589">33589</option>
	<option value="33590">33590</option>
	<option value="33591">33591</option>
	<option value="33592">33592</option>
	<option value="33593">33593</option>
	<option value="33594">33594</option>
	<option value="33595">33595</option>
	<option value="33596">33596</option>
	<option value="33597">33597</option>
	<option value="33598">33598</option>
	<option value="33599">33599</option>
	<option value="33600">33600</option>
	<option value="33601">33601</option>
	<option value="33602">33602</option>
	<option value="33603">33603</option>
	<option value="33604">33604</option>
	<option value="33605">33605</option>
	<option value="33606">33606</option>
	<option value="33607">33607</option>
	<option value="33608">33608</option>
	<option value="33609">33609</option>
	<option value="33610">33610</option>
	<option value="33611">33611</option>
	<option value="33612">33612</option>
	<option value="33613">33613</option>
	<option value="33614">33614</option>
	<option value="33615">33615</option>
	<option value="33616">33616</option>
	<option value="33617">33617</option>
	<option value="33618">33618</option>
	<option value="33619">33619</option>
	<option value="33620">33620</option>
	<option value="33621">33621</option>
	<option value="33622">33622</option>
	<option value="33623">33623</option>
	<option value="33624">33624</option>
	<option value="33625">33625</option>
	<option value="33626">33626</option>
	<option value="33627">33627</option>
	<option value="33628">33628</option>
	<option value="33629">33629</option>
	<option value="33630">33630</option>
	<option value="33631">33631</option>
	<option value="33632">33632</option>
	<option value="33633">33633</option>
	<option value="33634">33634</option>
	<option value="33635">33635</option>
	<option value="33636">33636</option>
	<option value="33637">33637</option>
	<option value="33638">33638</option>
	<option value="33639">33639</option>
	<option value="33640">33640</option>
	<option value="33641">33641</option>
	<option value="33642">33642</option>
	<option value="33643">33643</option>
	<option value="33644">33644</option>
	<option value="33645">33645</option>
	<option value="33646">33646</option>
	<option value="33647">33647</option>
	<option value="33648">33648</option>
	<option value="35001">35001</option>
	<option value="35002">35002</option>
	<option value="35003">35003</option>
	<option value="35004">35004</option>
	<option value="35005">35005</option>
	<option value="35006">35006</option>
	<option value="35007">35007</option>
	<option value="35008">35008</option>
	<option value="35009">35009</option>
	<option value="35010">35010</option>
	<option value="36001">36001</option>
	<option value="36002">36002</option>
	<option value="36003">36003</option>
	<option value="36004">36004</option>
	<option value="36005">36005</option>
	<option value="36006">36006</option>
	<option value="36007">36007</option>
	<option value="36008">36008</option>
	<option value="36009">36009</option>
	<option value="36010">36010</option>
	<option value="36011">36011</option>
	<option value="36012">36012</option>
	<option value="36013">36013</option>
	<option value="36014">36014</option>
	<option value="36015">36015</option>
	<option value="36016">36016</option>
	<option value="36017">36017</option>
	<option value="36018">36018</option>
	<option value="36019">36019</option>
	<option value="36020">36020</option>
	<option value="36021">36021</option>
	<option value="36022">36022</option>
	<option value="36023">36023</option>
	<option value="36024">36024</option>
	<option value="36025">36025</option>
	<option value="36026">36026</option>
	<option value="36027">36027</option>
	<option value="36028">36028</option>
	<option value="36029">36029</option>
	<option value="36030">36030</option>
	<option value="36031">36031</option>
	<option value="36032">36032</option>
	<option value="36033">36033</option>
	<option value="36034">36034</option>
	<option value="36035">36035</option>
	<option value="36036">36036</option>
	<option value="36037">36037</option>
	<option value="36038">36038</option>
	<option value="36039">36039</option>
	<option value="36040">36040</option>
	<option value="36041">36041</option>
	<option value="36042">36042</option>
	<option value="36043">36043</option>
	<option value="36044">36044</option>
	<option value="36045">36045</option>
	<option value="36046">36046</option>
	<option value="36047">36047</option>
	<option value="36048">36048</option>
	<option value="36049">36049</option>
	<option value="36050">36050</option>
	<option value="36051">36051</option>
	<option value="36052">36052</option>
	<option value="36053">36053</option>
	<option value="36054">36054</option>
	<option value="36055">36055</option>
	<option value="36056">36056</option>
	<option value="36057">36057</option>
	<option value="36058">36058</option>
	<option value="36059">36059</option>
	<option value="36060">36060</option>
	<option value="36061">36061</option>
	<option value="36062">36062</option>
	<option value="36063">36063</option>
	<option value="36064">36064</option>
	<option value="36065">36065</option>
	<option value="36066">36066</option>
	<option value="36067">36067</option>
	<option value="36068">36068</option>
	<option value="36069">36069</option>
	<option value="36070">36070</option>
	<option value="38001">38001</option>
	<option value="38002">38002</option>
	<option value="38003">38003</option>
	<option value="38004">38004</option>
	<option value="38005">38005</option>
	<option value="38006">38006</option>
	<option value="38007">38007</option>
	<option value="38008">38008</option>
	<option value="38009">38009</option>
	<option value="38010">38010</option>
	<option value="38011">38011</option>
	<option value="38012">38012</option>
	<option value="38013">38013</option>
	<option value="38014">38014</option>
	<option value="38015">38015</option>
	<option value="38016">38016</option>
	<option value="38017">38017</option>
	<option value="38018">38018</option>
	<option value="38019">38019</option>
	<option value="38020">38020</option>
	<option value="38022">38022</option>
	<option value="38023">38023</option>
	<option value="38024">38024</option>
	<option value="38025">38025</option>
	<option value="38026">38026</option>
	<option value="38027">38027</option>
	<option value="38028">38028</option>
	<option value="38029">38029</option>
	<option value="38030">38030</option>
	<option value="38031">38031</option>
	<option value="38032">38032</option>
	<option value="38033">38033</option>
	<option value="38034">38034</option>
	<option value="38035">38035</option>
	<option value="38036">38036</option>
	<option value="38037">38037</option>
	<option value="38038">38038</option>
	<option value="38039">38039</option>
	<option value="38040">38040</option>
	<option value="38041">38041</option>
	<option value="38042">38042</option>
	<option value="38043">38043</option>
	<option value="38044">38044</option>
	<option value="38045">38045</option>
	<option value="38046">38046</option>
	<option value="38047">38047</option>
	<option value="38048">38048</option>
	<option value="38051">38051</option>
	<option value="38052">38052</option>
	<option value="38053">38053</option>
	<option value="38054">38054</option>
	<option value="38055">38055</option>
	<option value="38056">38056</option>
	<option value="38057">38057</option>
	<option value="38058">38058</option>
	<option value="38059">38059</option>
	<option value="38060">38060</option>
	<option value="38061">38061</option>
	<option value="38062">38062</option>
	<option value="38063">38063</option>
	<option value="38064">38064</option>
	<option value="38065">38065</option>
	<option value="38066">38066</option>
	<option value="38067">38067</option>
	<option value="38068">38068</option>
	<option value="38069">38069</option>
	<option value="38070">38070</option>
	<option value="38071">38071</option>
	<option value="38072">38072</option>
	<option value="38073">38073</option>
	<option value="38074">38074</option>
	<option value="38075">38075</option>
	<option value="38076">38076</option>
	<option value="38077">38077</option>
	<option value="38078">38078</option>
	<option value="38079">38079</option>
	<option value="38080">38080</option>
	<option value="38081">38081</option>
	<option value="38082">38082</option>
	<option value="38083">38083</option>
	<option value="38084">38084</option>
	<option value="38085">38085</option>
	<option value="38086">38086</option>
	<option value="38087">38087</option>
	<option value="38088">38088</option>
	<option value="38089">38089</option>
	<option value="38090">38090</option>
	<option value="38091">38091</option>
	<option value="38092">38092</option>
	<option value="38093">38093</option>
	<option value="38094">38094</option>
	<option value="38095">38095</option>
	<option value="38096">38096</option>
	<option value="38097">38097</option>
	<option value="38098">38098</option>
	<option value="38099">38099</option>
	<option value="38100">38100</option>
	<option value="40001">40001</option>
	<option value="40002">40002</option>
	<option value="40003">40003</option>
	<option value="40004">40004</option>
	<option value="40005">40005</option>
	<option value="40006">40006</option>
	<option value="40007">40007</option>
	<option value="40008">40008</option>
	<option value="40009">40009</option>
	<option value="40010">40010</option>
	<option value="40011">40011</option>
	<option value="40012">40012</option>
	<option value="40013">40013</option>
	<option value="40014">40014</option>
	<option value="40015">40015</option>
	<option value="40016">40016</option>
	<option value="40017">40017</option>
	<option value="40018">40018</option>
	<option value="40019">40019</option>
	<option value="40020">40020</option>
	<option value="40021">40021</option>
	<option value="40022">40022</option>
	<option value="40023">40023</option>
	<option value="40024">40024</option>
	<option value="40025">40025</option>
	<option value="40026">40026</option>
	<option value="40027">40027</option>
	<option value="40028">40028</option>
	<option value="40029">40029</option>
	<option value="40030">40030</option>
	<option value="40031">40031</option>
	<option value="40032">40032</option>
	<option value="40033">40033</option>
	<option value="40034">40034</option>
	<option value="40035">40035</option>
	<option value="40036">40036</option>
	<option value="40037">40037</option>
	<option value="40038">40038</option>
	<option value="40039">40039</option>
	<option value="40040">40040</option>
	<option value="40041">40041</option>
	<option value="40042">40042</option>
	<option value="40043">40043</option>
	<option value="40044">40044</option>
	<option value="40045">40045</option>
	<option value="40046">40046</option>
	<option value="40047">40047</option>
	<option value="40048">40048</option>
	<option value="40049">40049</option>
	<option value="40050">40050</option>
	<option value="43001">43001</option>
	<option value="43002">43002</option>
	<option value="43003">43003</option>
	<option value="43004">43004</option>
	<option value="43005">43005</option>
	<option value="43006">43006</option>
	<option value="43007">43007</option>
	<option value="43008">43008</option>
	<option value="43009">43009</option>
	<option value="43010">43010</option>
	<option value="43011">43011</option>
	<option value="43012">43012</option>
	<option value="43013">43013</option>
	<option value="43014">43014</option>
	<option value="43015">43015</option>
	<option value="43016">43016</option>
	<option value="43017">43017</option>
	<option value="43018">43018</option>
	<option value="43019">43019</option>
	<option value="43020">43020</option>
	<option value="43021">43021</option>
	<option value="43022">43022</option>
	<option value="43023">43023</option>
	<option value="43024">43024</option>
	<option value="43025">43025</option>
	<option value="43026">43026</option>
	<option value="43027">43027</option>
	<option value="43028">43028</option>
	<option value="43029">43029</option>
	<option value="43030">43030</option>
	<option value="43031">43031</option>
	<option value="43032">43032</option>
	<option value="43033">43033</option>
	<option value="43034">43034</option>
	<option value="43035">43035</option>
	<option value="43036">43036</option>
	<option value="43037">43037</option>
	<option value="43038">43038</option>
	<option value="43039">43039</option>
	<option value="43040">43040</option>
	<option value="43041">43041</option>
	<option value="43042">43042</option>
	<option value="43043">43043</option>
	<option value="43044">43044</option>
	<option value="43045">43045</option>
	<option value="43046">43046</option>
	<option value="43047">43047</option>
	<option value="43048">43048</option>
	<option value="43049">43049</option>
	<option value="43050">43050</option>
	<option value="43051">43051</option>
	<option value="43052">43052</option>
	<option value="43053">43053</option>
	<option value="43054">43054</option>
	<option value="43055">43055</option>
	<option value="43056">43056</option>
	<option value="43057">43057</option>
	<option value="43058">43058</option>
	<option value="43059">43059</option>
	<option value="43060">43060</option>
	<option value="43061">43061</option>
	<option value="43062">43062</option>
	<option value="43063">43063</option>
	<option value="43064">43064</option>
	<option value="43065">43065</option>
	<option value="43066">43066</option>
	<option value="43067">43067</option>
	<option value="43068">43068</option>
	<option value="43069">43069</option>
	<option value="43070">43070</option>
	<option value="43071">43071</option>
	<option value="43072">43072</option>
	<option value="43073">43073</option>
	<option value="43074">43074</option>
	<option value="43075">43075</option>
	<option value="43076">43076</option>
	<option value="43077">43077</option>
	<option value="43078">43078</option>
	<option value="43079">43079</option>
	<option value="43080">43080</option>
	<option value="43081">43081</option>
	<option value="43082">43082</option>
	<option value="43083">43083</option>
	<option value="43084">43084</option>
	<option value="43085">43085</option>
	<option value="43086">43086</option>
	<option value="43087">43087</option>
	<option value="43088">43088</option>
	<option value="43089">43089</option>
	<option value="43090">43090</option>
	<option value="43091">43091</option>
	<option value="43092">43092</option>
	<option value="43093">43093</option>
	<option value="43094">43094</option>
	<option value="43095">43095</option>
	<option value="43096">43096</option>
	<option value="43097">43097</option>
	<option value="43098">43098</option>
	<option value="43099">43099</option>
	<option value="43100">43100</option>
	<option value="43101">43101</option>
	<option value="43102">43102</option>
	<option value="43103">43103</option>
	<option value="43104">43104</option>
	<option value="43105">43105</option>
	<option value="43106">43106</option>
	<option value="43107">43107</option>
	<option value="43108">43108</option>
	<option value="43109">43109</option>
	<option value="43110">43110</option>
	<option value="43111">43111</option>
	<option value="43112">43112</option>
	<option value="43113">43113</option>
	<option value="43114">43114</option>
	<option value="43115">43115</option>
	<option value="43116">43116</option>
	<option value="43117">43117</option>
	<option value="43118">43118</option>
	<option value="43119">43119</option>
	<option value="43120">43120</option>
	<option value="43121">43121</option>
	<option value="43122">43122</option>
	<option value="43123">43123</option>
	<option value="43124">43124</option>
	<option value="43125">43125</option>
	<option value="43126">43126</option>
	<option value="43127">43127</option>
	<option value="43128">43128</option>
	<option value="43129">43129</option>
	<option value="43130">43130</option>
	<option value="43131">43131</option>
	<option value="43132">43132</option>
	<option value="43133">43133</option>
	<option value="43134">43134</option>
	<option value="43135">43135</option>
	<option value="43136">43136</option>
	<option value="43137">43137</option>
	<option value="43138">43138</option>
	<option value="43139">43139</option>
	<option value="43140">43140</option>
	<option value="43141">43141</option>
	<option value="43142">43142</option>
	<option value="43143">43143</option>
	<option value="43144">43144</option>
	<option value="43145">43145</option>
	<option value="43146">43146</option>
	<option value="43147">43147</option>
	<option value="43148">43148</option>
	<option value="43149">43149</option>
	<option value="43150">43150</option>
	<option value="43151">43151</option>
	<option value="43152">43152</option>
	<option value="43153">43153</option>
	<option value="43154">43154</option>
	<option value="43155">43155</option>
	<option value="43156">43156</option>
	<option value="43157">43157</option>
	<option value="43158">43158</option>
	<option value="43159">43159</option>
	<option value="43160">43160</option>
	<option value="44001">44001</option>
	<option value="44002">44002</option>
	<option value="44003">44003</option>
	<option value="44004">44004</option>
	<option value="44005">44005</option>
	<option value="44006">44006</option>
	<option value="44007">44007</option>
	<option value="44010">44010</option>
	<option value="44011">44011</option>
	<option value="44012">44012</option>
	<option value="44013">44013</option>
	<option value="44014">44014</option>
	<option value="44015">44015</option>
	<option value="44016">44016</option>
	<option value="44017">44017</option>
	<option value="44018">44018</option>
	<option value="44019">44019</option>
	<option value="44020">44020</option>
	<option value="44021">44021</option>
	<option value="44022">44022</option>
	<option value="44023">44023</option>
	<option value="44024">44024</option>
	<option value="44025">44025</option>
	<option value="44026">44026</option>
	<option value="44027">44027</option>
	<option value="44028">44028</option>
	<option value="44029">44029</option>
	<option value="44030">44030</option>
	<option value="44031">44031</option>
	<option value="44032">44032</option>
	<option value="44033">44033</option>
	<option value="44034">44034</option>
	<option value="44035">44035</option>
	<option value="44036">44036</option>
	<option value="44037">44037</option>
	<option value="44038">44038</option>
	<option value="44039">44039</option>
	<option value="44040">44040</option>
	<option value="44041">44041</option>
	<option value="44042">44042</option>
	<option value="44043">44043</option>
	<option value="44044">44044</option>
	<option value="44045">44045</option>
	<option value="44046">44046</option>
	<option value="44047">44047</option>
	<option value="44048">44048</option>
	<option value="44049">44049</option>
	<option value="44050">44050</option>
	<option value="44051">44051</option>
	<option value="44052">44052</option>
	<option value="44053">44053</option>
	<option value="44054">44054</option>
	<option value="44055">44055</option>
	<option value="44056">44056</option>
	<option value="44057">44057</option>
	<option value="44058">44058</option>
	<option value="44059">44059</option>
	<option value="44060">44060</option>
	<option value="44061">44061</option>
	<option value="44062">44062</option>
	<option value="44063">44063</option>
	<option value="44064">44064</option>
	<option value="44065">44065</option>
	<option value="44066">44066</option>
	<option value="44067">44067</option>
	<option value="44068">44068</option>
	<option value="44069">44069</option>
	<option value="44070">44070</option>
	<option value="44071">44071</option>
	<option value="44072">44072</option>
	<option value="44073">44073</option>
	<option value="44074">44074</option>
	<option value="44075">44075</option>
	<option value="44076">44076</option>
	<option value="44077">44077</option>
	<option value="44078">44078</option>
	<option value="44079">44079</option>
	<option value="44080">44080</option>
	<option value="44081">44081</option>
	<option value="44082">44082</option>
	<option value="44083">44083</option>
	<option value="44084">44084</option>
	<option value="44085">44085</option>
	<option value="44086">44086</option>
	<option value="44087">44087</option>
	<option value="44088">44088</option>
	<option value="44089">44089</option>
	<option value="44090">44090</option>
	<option value="44091">44091</option>
	<option value="44092">44092</option>
	<option value="44093">44093</option>
	<option value="44094">44094</option>
	<option value="44095">44095</option>
	<option value="44096">44096</option>
	<option value="44097">44097</option>
	<option value="44098">44098</option>
	<option value="44099">44099</option>
	<option value="44100">44100</option>
	<option value="44101">44101</option>
	<option value="44102">44102</option>
	<option value="44103">44103</option>
	<option value="44104">44104</option>
	<option value="44105">44105</option>
	<option value="44106">44106</option>
	<option value="44107">44107</option>
	<option value="44108">44108</option>
	<option value="44109">44109</option>
	<option value="44110">44110</option>
	<option value="44111">44111</option>
	<option value="44112">44112</option>
	<option value="44113">44113</option>
	<option value="44114">44114</option>
	<option value="44115">44115</option>
	<option value="44116">44116</option>
	<option value="44117">44117</option>
	<option value="44118">44118</option>
	<option value="44119">44119</option>
	<option value="44120">44120</option>
	<option value="44121">44121</option>
	<option value="44122">44122</option>
	<option value="44123">44123</option>
	<option value="44124">44124</option>
	<option value="44125">44125</option>
	<option value="44126">44126</option>
	<option value="44127">44127</option>
	<option value="44128">44128</option>
	<option value="44129">44129</option>
	<option value="44130">44130</option>
	<option value="44131">44131</option>
	<option value="44132">44132</option>
	<option value="44133">44133</option>
	<option value="44134">44134</option>
	<option value="44135">44135</option>
	<option value="44136">44136</option>
	<option value="44137">44137</option>
	<option value="44138">44138</option>
	<option value="44139">44139</option>
	<option value="44140">44140</option>
	<option value="44141">44141</option>
	<option value="44142">44142</option>
	<option value="44143">44143</option>
	<option value="44144">44144</option>
	<option value="44145">44145</option>
	<option value="44146">44146</option>
	<option value="44147">44147</option>
	<option value="44148">44148</option>
	<option value="44149">44149</option>
	<option value="44150">44150</option>
	<option value="44151">44151</option>
	<option value="44152">44152</option>
	<option value="44153">44153</option>
	<option value="44154">44154</option>
	<option value="44155">44155</option>
	<option value="44156">44156</option>
	<option value="44157">44157</option>
	<option value="44158">44158</option>
	<option value="44159">44159</option>
	<option value="44160">44160</option>
	<option value="44161">44161</option>
	<option value="44162">44162</option>
	<option value="44163">44163</option>
	<option value="44164">44164</option>
	<option value="44165">44165</option>
	<option value="44166">44166</option>
	<option value="44167">44167</option>
	<option value="44168">44168</option>
	<option value="44169">44169</option>
	<option value="44170">44170</option>
	<option value="44171">44171</option>
	<option value="44172">44172</option>
	<option value="44173">44173</option>
	<option value="44174">44174</option>
	<option value="44175">44175</option>
	<option value="44176">44176</option>
	<option value="44177">44177</option>
	<option value="44178">44178</option>
	<option value="44179">44179</option>
	<option value="44180">44180</option>
	<option value="44181">44181</option>
	<option value="44182">44182</option>
	<option value="44183">44183</option>
	<option value="44184">44184</option>
	<option value="44185">44185</option>
	<option value="44186">44186</option>
	<option value="44187">44187</option>
	<option value="44188">44188</option>
	<option value="44189">44189</option>
	<option value="44190">44190</option>
	<option value="44191">44191</option>
	<option value="44192">44192</option>
	<option value="44193">44193</option>
	<option value="44194">44194</option>
	<option value="44195">44195</option>
	<option value="44196">44196</option>
	<option value="44197">44197</option>
	<option value="44198">44198</option>
	<option value="44199">44199</option>
	<option value="44200">44200</option>
	<option value="44201">44201</option>
	<option value="44202">44202</option>
	<option value="44203">44203</option>
	<option value="44204">44204</option>
	<option value="44205">44205</option>
	<option value="44206">44206</option>
	<option value="44207">44207</option>
	<option value="44208">44208</option>
	<option value="44209">44209</option>
	<option value="44210">44210</option>
	<option value="44211">44211</option>
	<option value="44212">44212</option>
	<option value="44213">44213</option>
	<option value="44214">44214</option>
	<option value="44215">44215</option>
	<option value="44216">44216</option>
	<option value="44217">44217</option>
	<option value="44218">44218</option>
	<option value="44219">44219</option>
	<option value="44220">44220</option>
	<option value="44221">44221</option>
	<option value="44222">44222</option>
	<option value="44223">44223</option>
	<option value="44224">44224</option>
	<option value="44225">44225</option>
	<option value="44226">44226</option>
	<option value="44227">44227</option>
	<option value="44228">44228</option>
	<option value="44229">44229</option>
	<option value="44230">44230</option>
	<option value="44231">44231</option>
	<option value="44232">44232</option>
	<option value="44233">44233</option>
	<option value="44234">44234</option>
	<option value="44235">44235</option>
	<option value="44236">44236</option>
	<option value="44237">44237</option>
	<option value="44238">44238</option>
	<option value="44239">44239</option>
	<option value="44240">44240</option>
	<option value="44241">44241</option>
	<option value="44242">44242</option>
	<option value="44243">44243</option>
	<option value="44244">44244</option>
	<option value="44245">44245</option>
	<option value="44246">44246</option>
	<option value="44247">44247</option>
	<option value="44248">44248</option>
	<option value="44249">44249</option>
	<option value="44250">44250</option>
	<option value="44251">44251</option>
	<option value="44252">44252</option>
	<option value="44253">44253</option>
	<option value="44254">44254</option>
	<option value="44255">44255</option>
	<option value="44256">44256</option>
	<option value="44257">44257</option>
	<option value="44258">44258</option>
	<option value="44259">44259</option>
	<option value="44260">44260</option>
	<option value="44261">44261</option>
	<option value="44262">44262</option>
	<option value="44263">44263</option>
	<option value="44264">44264</option>
	<option value="44265">44265</option>
	<option value="44266">44266</option>
	<option value="44267">44267</option>
	<option value="44268">44268</option>
	<option value="44269">44269</option>
	<option value="44270">44270</option>
	<option value="44271">44271</option>
	<option value="44272">44272</option>
	<option value="44273">44273</option>
	<option value="44274">44274</option>
	<option value="44275">44275</option>
	<option value="44276">44276</option>
	<option value="44277">44277</option>
	<option value="44278">44278</option>
	<option value="44279">44279</option>
	<option value="44280">44280</option>
	<option value="44281">44281</option>
	<option value="44282">44282</option>
	<option value="44283">44283</option>
	<option value="44284">44284</option>
	<option value="44285">44285</option>
	<option value="44286">44286</option>
	<option value="44287">44287</option>
	<option value="44288">44288</option>
	<option value="44289">44289</option>
	<option value="44290">44290</option>
	<option value="44291">44291</option>
	<option value="44292">44292</option>
	<option value="44293">44293</option>
	<option value="44294">44294</option>
	<option value="44295">44295</option>
	<option value="44296">44296</option>
	<option value="44297">44297</option>
	<option value="44298">44298</option>
	<option value="44299">44299</option>
	<option value="44300">44300</option>
	<option value="44301">44301</option>
	<option value="44302">44302</option>
	<option value="44303">44303</option>
	<option value="44304">44304</option>
	<option value="44305">44305</option>
	<option value="44306">44306</option>
	<option value="44307">44307</option>
	<option value="44308">44308</option>
	<option value="44309">44309</option>
	<option value="44310">44310</option>
	<option value="44311">44311</option>
	<option value="44312">44312</option>
	<option value="44313">44313</option>
	<option value="44314">44314</option>
	<option value="44315">44315</option>
	<option value="44316">44316</option>
	<option value="44317">44317</option>
	<option value="44318">44318</option>
	<option value="44319">44319</option>
	<option value="44320">44320</option>
	<option value="44321">44321</option>
	<option value="44322">44322</option>
	<option value="44323">44323</option>
	<option value="44324">44324</option>
	<option value="44325">44325</option>
	<option value="44326">44326</option>
	<option value="44327">44327</option>
	<option value="44328">44328</option>
	<option value="44329">44329</option>
	<option value="44330">44330</option>
	<option value="44331">44331</option>
	<option value="44332">44332</option>
	<option value="44333">44333</option>
	<option value="44334">44334</option>
	<option value="44335">44335</option>
	<option value="44336">44336</option>
	<option value="44337">44337</option>
	<option value="44338">44338</option>
	<option value="44339">44339</option>
	<option value="44340">44340</option>
	<option value="44341">44341</option>
	<option value="44342">44342</option>
	<option value="44343">44343</option>
	<option value="44344">44344</option>
	<option value="44345">44345</option>
	<option value="44346">44346</option>
	<option value="44347">44347</option>
	<option value="44348">44348</option>
	<option value="44349">44349</option>
	<option value="44350">44350</option>
	<option value="44351">44351</option>
	<option value="44352">44352</option>
	<option value="44353">44353</option>
	<option value="44354">44354</option>
	<option value="44355">44355</option>
	<option value="44356">44356</option>
	<option value="44357">44357</option>
	<option value="44358">44358</option>
	<option value="44359">44359</option>
	<option value="44360">44360</option>
	<option value="44361">44361</option>
	<option value="44362">44362</option>
	<option value="44363">44363</option>
	<option value="44364">44364</option>
	<option value="44365">44365</option>
	<option value="44366">44366</option>
	<option value="44367">44367</option>
	<option value="44368">44368</option>
	<option value="44369">44369</option>
	<option value="44370">44370</option>
	<option value="44371">44371</option>
	<option value="44372">44372</option>
	<option value="44373">44373</option>
	<option value="44374">44374</option>
	<option value="44375">44375</option>
	<option value="44376">44376</option>
	<option value="44377">44377</option>
	<option value="44378">44378</option>
	<option value="44379">44379</option>
	<option value="44380">44380</option>
	<option value="44381">44381</option>
	<option value="44382">44382</option>
	<option value="44383">44383</option>
	<option value="44384">44384</option>
	<option value="44385">44385</option>
	<option value="44386">44386</option>
	<option value="44387">44387</option>
	<option value="44388">44388</option>
	<option value="44389">44389</option>
	<option value="44390">44390</option>
	<option value="44391">44391</option>
	<option value="44392">44392</option>
	<option value="44393">44393</option>
	<option value="44394">44394</option>
	<option value="44395">44395</option>
	<option value="44396">44396</option>
	<option value="44397">44397</option>
	<option value="44398">44398</option>
	<option value="44400">44400</option>
	<option value="44401">44401</option>
	<option value="44402">44402</option>
	<option value="44403">44403</option>
	<option value="44404">44404</option>
	<option value="44405">44405</option>
	<option value="44406">44406</option>
	<option value="44407">44407</option>
	<option value="44408">44408</option>
	<option value="44409">44409</option>
	<option value="44410">44410</option>
	<option value="44411">44411</option>
	<option value="44412">44412</option>
	<option value="44414">44414</option>
	<option value="44415">44415</option>
	<option value="44416">44416</option>
	<option value="44417">44417</option>
	<option value="44418">44418</option>
	<option value="44419">44419</option>
	<option value="44420">44420</option>
	<option value="44421">44421</option>
	<option value="44422">44422</option>
	<option value="44423">44423</option>
	<option value="44424">44424</option>
	<option value="44425">44425</option>
	<option value="44426">44426</option>
	<option value="44427">44427</option>
	<option value="44428">44428</option>
	<option value="44429">44429</option>
	<option value="44430">44430</option>
	<option value="44431">44431</option>
	<option value="44432">44432</option>
	<option value="44433">44433</option>
	<option value="44434">44434</option>
	<option value="44435">44435</option>
	<option value="44436">44436</option>
	<option value="44437">44437</option>
	<option value="44438">44438</option>
	<option value="44439">44439</option>
	<option value="44440">44440</option>
	<option value="44441">44441</option>
	<option value="44442">44442</option>
	<option value="44443">44443</option>
	<option value="44444">44444</option>
	<option value="44445">44445</option>
	<option value="44446">44446</option>
	<option value="44447">44447</option>

	</select>

	</div>
	<br>

  <label for="Date">Select Date:</label>
  <input type="date" id="Date:" name="Date">
  <input type="submit">
</form>
	

				</div>
			</section>

			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>